nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/')
      i.fa.fa-cube
      | Apocalypse Together
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
      ul.nav.navbar-nav
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.nav-item(class=(title === 'Account Settings') ? 'active' : undefined)
            a.nav-link(href='/account') Account Settings
